/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/src/OpenSteam/MokodeskBundle/etc/default.def.php
/src/OpenSteam/MokodeskBundle/Resources/public/tools/asciisvg/imgs/*
!/src/OpenSteam/MokodeskBundle/Resources/public/tools/asciisvg/imgs/.gitkeep