<html>
<head>
 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>MokoDesk</title>
    <link rel="stylesheet" type="text/css" href="bundles/opensteammokodesk/css/mokodeskExtLib.min.css" />
    <link rel="stylesheet" type="text/css" href="bundles/opensteammokodesk/css/mokodeskExt.min.css" />
    {% if customHead %}
    {{ customHead }}
    {% endif %}
</head>
<body scroll="no" id="docs">
<div id="loading-mask" style=""></div>
  <div id="loading">
    <div class="loading-indicator"><style="margin-right:8px;" align="absmiddle">Anwendung wird geladen...</style></div>
  </div>
    <script type="text/javascript" src="bundles/opensteammokodesk/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="bundles/opensteammokodesk/js/{{mainjs}}.min.js?version={{ version }}"></script>
</body>
</html>